<!DOCTYPE html>
<html>
  <head>
    <title>User Details</title>
    <link rel="stylesheet" href="../static/CSS/userdetails.css" />
  </head>
  <body>
    <h1>User Details</h1>
    <h2>Account Details</h2>
    <button onclick="goBack()" class="btn-back">Back</button>

    <table>
      <tr>
        <th>Customer ID</th>
        <th>First Name</th>
        <th>Middle Name</th>
        <th>Last Name</th>
        <th>Date of Birth</th>
        <th>Phone Number</th>
        <th>Email</th>
        <th>Password</th>
      </tr>
      <!-- {% for user in user %} -->
      <tr>
        <td>{{ user.customer_id }}</td>
        <td>{{ user.first_name }}</td>
        <td>{{ user.middle_name }}</td>
        <td>{{ user.last_name }}</td>
        <td>{{ user.dob }}</td>
        <td>{{ phone }}</td>
        <td>{{ email}}</td>
        <td>{{ user.password }}</td>
      </tr>
      <!-- {% endfor %} -->
    </table>

    <h2>Address</h2>

    <table>
      <tr>
        <th>Building Name</th>
        <th>Street</th>
        <th>Pin Code</th>
        <th>City</th>
        <th>State</th>
      </tr>
      {% for _address in address %}
      <tr>
        <td>{{ _address.building_name }}</td>
        <td>{{ _address.street }}</td>
        <td>{{ _address.pin_code }}</td>
        <td>{{ _address.city }}</td>
        <td>{{ _address.state }}</td>
      </tr>
      {% endfor %}
    </table>

    <h2>Orders</h2>
    <table>
      <tr>
        <th>Order ID</th>
        <th>Date</th>
        <th>Time</th>
        <th>Total Amount</th>
        <th>Ordered items</th>
      </tr>
      {% for order in orders %}
      <tr>
        <td>{{ order.order_id }}</td>
        <td>{{ order.placed_time.date() }}</td>
        <td>{{ order.placed_time.time() }}</td>
        <td>{{ order.amount }}</td>
        <td>
          <table>
            <tr>
              <th>Food Item</th>
              <th>Item Type</th>
              <th>Item Price</th>
              <th>Item Rating</th>
              <!-- <th>Count</th> -->
            </tr>
            {% for item in food_items %}
            <tr>
              {% if order.order_id == item.order_id %}
              <td>{{ item.food_item.item_name }}</td>
              <td>{{ item.food_item.item_type }}</td>
              <td>{{ item.food_item.item_price }}</td>
              <td>{{ item.food_item.item_rating }}</td>
              <!-- <td>{{ item.food_item.order_count }}</td> -->
              {% endif %}
            </tr>
            {% endfor %}
          </table>
        </td>
      </tr>
      {% endfor %}
    </table>

    <script>
      function goBack() {
        window.history.back();
      }
    </script>
  </body>
</html>
