body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e6e8d2; 

}

.Header {
    background-color: #f8f9fa;
    padding: 20px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center; 
}

.company-logo {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
    color: #000; 
    text-align: center; /* Center-align text */
    margin: 0; /* Remove any margin */
    padding-left: 24px;
    padding-top: 14px;
}

.cm-menu-btn {
    display: none; /* Display the back button */
}

.menu-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu-ul li {
    display: inline-block;
    margin-right: 20px;
}

.menu-ul li a {
    text-decoration: none;
    color: #333;
}

.About {
    padding: 40px;
}

.about-us-section {
    text-align: center;
}

.about-us-heading h2 {
    font-size: 32px;
    margin-bottom: 20px;
}

.Team-members {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 30px;
}

.member {
    width: 200px;
    margin: 20px;
    text-align: center;
}

.member-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
}

.member h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.member p {
    font-size: 16px;
    color: #666;
}

.partner-executives {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    flex-wrap: wrap;
}

.partner {
    width: 45%;
    max-width: 250px;
    height: 150px;
    background-color: #e29e50;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.partner-count {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 10px;
}

.partner p {
    text-align: center;
}

.table-container {
    overflow-x: auto;
}

.table-scroll {
    overflow-x: scroll;
}

.team-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    overflow-x: auto;
}

.team-table th,
.team-table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.team-table th {
    background-color: #eaddae;
    font-weight: bold;
}

.team-table tr:nth-child(even) {
    background-color: #ece6d0;
}

.team-table tr:nth-child(odd) {
    background-color: #ece6d0;
}

.team-table tr:hover {
    background-color: #eaddae;
}

@media only screen and (max-width: 768px) {
    .menu-ul li {
        display: block;
        margin-bottom: 10px;
    }

    .about-us-section {
        text-align: justify;
        margin-bottom: 20px;
    }

    .partner {
        width: 100%;
        max-width: none;
    }

    @media only screen and (max-width: 768px) {
        .cm-menu-btn {
            display: inline-block; /* Display the back button on smaller screens */
        }
    }
}

