@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
}
.restaurant-card {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    margin-top: 30px;
  }
  
  .restaurant-card img {
    width: 100px;
    height: auto;
    border-radius: 5px;
  }
  
  .card-title {
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 5px;
  }
  
  .card-text {
    font-size: 14px;
    margin-bottom: 5px;
  }
  
  