/*Font Import*/

@import url('https://fonts.googleapis.com/css?family=Merienda|Oswald:600,700|Roboto');

@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');


/*Global Styles*/



*, :after, :before {
	box-sizing: border-box;
}

.clear-all:after,
.clear-all:before {
	content: '';
	display: table;
	clear: both;
}
.landing-header{
	height: 60px;
	background-color: transparent;
	position: fixed;
	width: 100%;
	z-index: 10;
	top: 0px;
}
.cm-header-wrap {
    position: fixed;
    top: 0;
	background-color: #e6e8d2;
    width: 100%;
	max-width: 1400px;
	margin: auto;
    padding: 10px 15px 0px 15px;
}

.level2{
	flex-direction: column;
}

.cm-menu-inner ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.cm-menu-inner > ul {
    display: block;
}

.cm-menu-inner > ul > li {
    float: left;
    padding: 0 10px;
}

.cm-menu-inner > ul  li a {
    display: block;
	font-weight:600;
    color: #000;
    padding: 10px;
    text-decoration: none;
	font-family: 'Karla', sans-serif;
}
.links{
    font-size: 16px;
}
.company-logo{
	position: fixed;
    z-index: 100;
    margin-top: 10px;
	margin-left: 25px;
	top:0px;
    font-size: 24px;
    font-weight: 600;
}
.menu-ul{
	width: 60vw;
}
.header-button{
    padding: 10px 20px;
    font-size: 15px;
    background-color: #b85043;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    border-radius: 30px;
    color: #fff;
    margin-top: 0px;
    margin-bottom: 0px;
    width: fit-content;
    margin-bottom: 5px;
}
@media all and (min-width:1400px) {
	.menu-ul{
		width: 800px;
	}
	.company-logo{
		margin-left: calc(50% - 620px);
	}
	.cm-header-wrap {
		margin: 0px calc(50vw - 700px);
	}
}
.child-menu-btn{
	display: none;
}
@media(min-width: 992px) {
	.cm-menu-inner ul ul {
	    position: absolute;
	    top: 100%;
	    left: 0;
	    background: #e6e8d2;
	    min-width: 130px;
	    opacity: 0;
	    visibility: hidden;
	    transition: all 300ms linear;
	}

	.cm-menu-inner ul li.has-child {
	    position: relative;
	}

	.cm-menu-inner ul li.has-child:hover > ul {
	    opacity: 1;
	    visibility: visible;
	}

	.cm-menu-inner ul ul ul {
	    left: 100%;
	    top: 0;
	}

	.cm-menu-inner {
	    display: flex;
	    justify-content:flex-end;
	}

	.cm-menu-inner {
	    display: flex !important;
	}

	.cm-menu-inner ul {
		display: flex;
    	align-items: flex-end;
        justify-content: flex-end;
	}

	.cm-menu-btn, .child-menu-btn {
	    display: none;
	}

}

@media(max-width: 991px) {
	.menu-ul{
		width: 100%;
	}
	.cm-header-wrap {
		height: 70px;
	}
	.company-logo{
		width: 120px;
	}
	.cm-menu-inner {
	    position: absolute;
	    background-color: #e6e8d2;
	    width: 100%;
	    left: 0;
	    top: 100%;
	    display: none;
	}

	.cm-menu-inner > ul > li {
	    float: none;
	    padding: 0;
	}

	.cm-menu-inner ul li > a {
	    border-bottom: 1px solid #fff;
	}

	.cm-menu-inner ul ul > li > a {
	    padding-left: 25px;
	}

	.cm-menu-inner ul ul ul > li > a {
	    padding-left: 35px;
	}

	.cm-menu-btn {
	    position: absolute;
	    top: 25px;
	    right: 30px;
	    font-size: 25px;
	    color: #000;
	    cursor: pointer;
	}

	li.has-child {
	    position: relative;
	}
    

	.child-menu-btn {
	    color: #000;
	    position: absolute;
	    right: 0;
	    line-height: 40px;
	    border-left: 1px solid #fff;
	    width: 40px;
	    text-align: center;
	    cursor: pointer;
	    top: 0;
	}

	.cm-menu-inner ul ul {
		display: none;
	}

}

/* Banner*/

.cm-header-wrap {
  z-index: 11;
}

.banner {
  position: relative;
  z-index: 10;
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.banner h1 {
  position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 40px;
    text-align: center;
    background: #f6f8f9;
    padding: 16px;
    border-radius: 5px;
    color: #000;
    font-family: 'Karla', sans-serif;
    letter-spacing: 1px;
    width: 700px;
    text-transform: capitalize;
}

.banner h1 a {
  color: #000;
    text-decoration: none;
    text-decoration: underline;
    display: inline-block;
    padding-top: 20px;
    font-size: 45px;
    text-shadow: 9px -1px 6px #000;
  transition: all 300ms ease;
}


.banner h1 a:hover {
    text-shadow: 5px -1px 14px #000;
}
.get-started{
    padding: 8px 18px;
    background-color: #00a6fb;
    color: #fff;
    border: none;
    border-radius: 30px;
    font-size: 1.6rem;
	position: absolute;
	right: 30px;
  }
  @media all and (max-width:991px) {
	.get-started{
		position: initial;
	}
  }
  .get-started-sidebar{
    padding: 10px 30px;
    background-color: #25cd71;
    color: #fff;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    width: 170px;
  }
@media(max-width: 767px) {
  
  .banner h1 {
      max-width: 90%;
      width: 100%;
  }
  
}