<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="../static/CSS/header.css">
    <link rel="stylesheet" href="../static/CSS/aboutus.css">
</head>
<body>
    <Header>
        <div class='landing-header'>
            <div> 
                <p class="company-logo">FoodDelivers</p>
            </div>
            <div class="cm-header-wrap">
                <div class="cm-menu-wrap">
                    <div class="cm-menu-btn fa fa-bars"></div>
                    <div class="cm-menu-inner">
                        <ul class="menu-ul clear-all">
                            <li class="has-child">
                                <button onclick="goBack()" class="text-wrapper-2 header-button btn btn-secondary mb-3">Back</button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </Header>

    <section class="About">
        <div class="about-us-section">
            <div class="about-us-heading">
                <h2>About Us</h2>
                <p>Welcome aboard our food delivery app, where convenience meets culinary delight! Our team is driven by a passion for great food and customer satisfaction. We understand the hustle and bustle of modern life, leaving little time for cooking, which is why we're committed to bringing the best dining experiences right to your doorstep. With our user-friendly interface, ordering from your go-to restaurants has never been smoother. Whether it's a quick bite from your local diner or a special treat from a renowned chain, we've got you covered. Our diverse selection of eateries ensures there's something to please every palate. And with our efficient delivery service, you can enjoy restaurant-quality meals in the comfort of your own home. So sit back, relax, and let us take care of your cravings. With our food delivery app, delicious meals are just a few taps away.</p>
            </div>

            <div class="partner-executives">
                <div class="partner">
                    <div class="partner-count">10+</div>
                    <p>Restaurant Partners</p>
                </div>
                <div class="partner">
                    <div class="partner-count">10+</div>
                    <p>Happy Customers</p>
                </div>
                <div class="partner">
                    <div class="partner-count">10+</div>
                    <p>Delivery Executives</p>
                </div>
            </div>
            


            <section class="About">
                <div class="Team-members">
                    <h2>Our Team</h2>
                    <table class="team-table">
                        <thead>
                            <tr>
                                <th>Roll Number</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Email ID</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>22110050</td>
                                <td>Birudugadda</td>
                                <td>Srivibhav</td>
                                <td>birudugadda.srivibhav@iitgn.ac.in</td>
                            </tr>
                            <tr>
                                <td>22110260</td>
                                <td>Srivathsa</td>
                                <td>Vamsi</td>
                                <td>vamsi.srivathsa@iitgn.ac.in</td>
                            </tr>
                            <tr>
                                <td>22110124</td>
                                <td>Sriman</td>
                                <td>Reddy</td>
                                <td>kondam.reddy@iitgn.ac.in</td>
                            </tr>
                            <tr>
                                <td>22110162</td>
                                <td>Nikhilesh</td>
                                <td>Myanapuri</td>
                                <td>nikhilesh.myanapuri@iitgn.ac.in</td>
                            </tr>
                            <tr>
                                <td>20110106</td>
                                <td>Shriyash</td>
                                <td>Mandavekar</td>
                                <td>mandavekar.shriyash@iitgn.ac.in</td>
                            </tr>
                            <tr>
                                <td>20110071</td>
                                <td>Haikoo</td>
                                <td>Khandor</td>
                                <td>haikoo.ashok@iitgn.ac.in</td>
                            </tr>
                            <tr>
                                <td>20110104</td>
                                <td>Madhav</td>
                                <td>Kanda</td>
                                <td>madhav.kanda@iitgn.ac.in</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </section>
            
    <script>
        function goBack() {
          window.history.back();
        }
    </script>
</body>
</html>
