<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign Up</title>
    <link rel="stylesheet" href="../static/CSS/signup.css" />
  </head>
  <body>
    <div class="container">
      <h1>Sign Up</h1>
      <div class="cards">
        <div class="card">
          <h3>User</h3>
          <img class="sign-up-img" src="../static/Assets/Images/user.png"></img>
      <a href="{{ url_for('signupcustomer') }}">Sign Up</a>
        </div>
        <div class="card">
          <h3>Restaurant</h3>
          <img class="sign-up-img" src="../static/Assets/Images/restaurant.png"></img>
      <a href="{{ url_for('signuprestaurants') }}">Sign Up</a>
        </div>
        <div class="card">
          <h3>Delivery Agent</h3>
          <img class="sign-up-img" src="../static/Assets/Images/delivery_agent.png"></img>
      <a href="{{ url_for('signupdelivery') }}"
            >Sign Up</a
          >
        </div>
      </div>
      <p>Already have an account <a href="{{ url_for('googlelogin') }}">login</a></p>

</div>
  </body>
</html>
