<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="../static/CSS/logsign.css" />
  </head>
  <body>
    {% if msg %}
    <div class="Incorrect-password">{{ msg }}</div>
    {% endif %}
    <div class="container">
      <h1>Login</h1>
      <form action="#" method="POST">
        <input type="email" name="useremail" placeholder="Email" required />
        <input
          type="password"
          name="password"
          placeholder="Password"
          required
        />
        <select name="authority">
          <option value="Delivery Agent">Delivery Agent</option>
          <option value="Customer">Customer</option>
          <option value="Restaurant">Restaurant</option>
        </select>
        <button type="submit">Login</button>
        <p>
          Don't have an account <a href="{{ url_for('signup') }}">sign up</a>
        </p>
      </form>
    </div>
  </body>
</html>
